<ion-header>

    <ion-footer>

            <ion-fab vertical="top" horizontal="end" slot="fixed" id="fab">
                <ion-fab-button size="small" (click)="openalert()">
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>

  
              </ion-fab>

          <ion-toolbar color="dark">

            <ion-buttons slot="start">
             <ion-menu-button  side="start"></ion-menu-button>
             </ion-buttons>

      
          <ion-title slot="start" id="title"> ToDo List </ion-title>
    
        </ion-toolbar>    
</ion-footer>

</ion-header>


<ion-content>

<ion-list>

      <!-- Sliding item with text options on both sides -->
      <ion-item-sliding>

    
        <ion-item>
          <ion-label>Item Options</ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-button color="danger">  <ion-icon name="trash"></ion-icon> 
          Delete</ion-button>
      
        </ion-item-options>
     
      </ion-item-sliding>

</ion-list>

</ion-content>
